{% extends 'base.html' %}

{% block title %}Acervo do Museu{% endblock %}

{% block content %}
    <h2>Catálogo de Peças</h2>
    
    {% if pecas %}
        <ul>
            {% for peca in pecas %}
                <li style="margin-bottom: 20px; border-bottom: 1px solid #ccc; padding-bottom: 15px;">
                    
                    {% if peca.imagem %}
                        <img src="{{ peca.imagem.url }}" alt="{{ peca.titulo }}" style="max-width: 150px; border-radius: 5px; display: block; margin-bottom: 10px;">
                    {% endif %}

                    <strong>{{ peca.titulo }}</strong> ({{ peca.ano }}) - {{ peca.autor }}
                    <br>
                    <small>Categoria: {{ peca.categoria }} | Estado: {{ peca.estado_conservacao }}</small>
                    
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma peça cadastrada no acervo.</p>
    {% endif %}
    
    <a href="{% url 'cadastrar_peca' %}"><button>Adicionar Nova Peça</button></a>
{% endblock %}