{% extends 'base.html' %}
{% block title %}Excluir Restauração{% endblock %}
{% block content %}
    <div style="text-align: center; margin-top: 50px;">
        <h2>Cancelar Restauração?</h2>
        <p>Você vai apagar o registro da peça: <strong>{{ restauracao.peca.titulo }}</strong></p>
        <p>Iniciada em: {{ restauracao.data_inicio }}</p>
        <br>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" style="background-color: #e74c3c; color: white; padding: 10px; border:none; border-radius:4px; cursor:pointer;">Sim, Excluir</button>
            <a href="{% url 'listar_restauracoes' %}" style="margin-left: 15px;">Voltar</a>
        </form>
    </div>
{% endblock %}