{% extends 'base.html' %}
{% block title %}Excluir Visitante{% endblock %}
{% block content %}
    <div style="text-align: center; margin-top: 50px;">
        <h2>Excluir Registro de Visita?</h2>
        <p>Visitante: <strong>{{ visitante.nome }}</strong></p>
        <p>Data: {{ visitante.visita }}</p>
        <br>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" style="background-color: #e74c3c; color: white; padding: 10px; border:none; border-radius:4px; cursor:pointer;">Sim, Excluir</button>
            <a href="{% url 'listar_visitantes' %}" style="margin-left: 15px;">Cancelar</a>
        </form>
    </div>
{% endblock %}